[submodule "06_Backend/buildComplete-backendProject-newEdition"]
	path = 06_Backend/buildComplete-backendProject-newEdition
	url = https://github.com/Abdulla-Mulla14/buildComplete-backendProject-newEdition.git
